<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>show image</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css"> 
</head>
<body>
  <div class="container">
    <div class="card" style="width: 18rem;">
        <img src= "images/{{image}}" class="card-img-top" alt="decorative image">
        <div class="card-body">
            <h5 class="card-title">{{image}}</h5>
            <p class="card-text">This is the last image uploaded to the site</p>
        </div>
    </div>
  </div>
  
<script src="../js/bootstrap.bundle.min.js"></script
</body>
</html>